@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&family=VT323&display=swap');

:root {
	--white: #FFFFFF;
	--grid-lines: #CCCCCC;
	--black: rgba(36, 40, 59, 0.7);
	--text: #7AA2F7;
	--background: #1A1B26;

	--tile-image: #7acbf7;
	--tile-link: #68D391;
	--tile-embed: #B794F4;
	--tile-attachment: #F6AD55;
	--tile-text: #F6E05E;
	/* --tile-unknown: #1A1B26; */

	--heading-font: 'Pixelify Sans', sans-serif;
	--body-font: 'Inter', sans-serif;
	--h1-size: 5rem;
	--h2-size: 1.5rem;
	--body-size: 0.8rem;
	--body-line-height: 1.2rem;

	--gutter: 1rem;
	/* --cell: 3rem;
	--grid-cols: 1;
	--grid-rows: 1; */
}

html, body {
	block-size: 100vh;
	margin: 0;
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow: hidden;
}

main {
	display: flex;
	/* flex-direction: column; */
	inline-size: 100%;
	block-size: 100vh;
	padding: var(--gutter);
	box-sizing: border-box;
	flex-direction: row;
	justify-content: center;
	align-items: center;   

	/* @media (width>500px) {
		flex-direction: row;
		justify-content: center;
		align-items: center;    
	} */

	@media (width>1200px) {
		block-size: 100vh;
	}
}

h1 {
	display: inline;
	font-family: var(--heading-font);
	font-size: var(--h1-size);
	color: var(--white);
	position: relative;
	z-index: 10;
	pointer-events: none;
	margin: 0;
}

h2 {
	display: inline;
	font-family: var(--heading-font);
	font-size: var(--h2-size);
	color: var(--white);
	position: relative;
	z-index: 10;
	pointer-events: none;
}

p, a {
	display: inline;
	font-family: var(--body-font);
	font-size: var(--body-size);
	color: var(--white);
	line-height: var(--body-line-height);
}

/* ------------------- title ------------------- */

#title {
	display: flex;
	flex-direction: column;
	gap: 0;
	border: 1px solid var(--grid-lines);
	padding: var(--gutter);
	background: var(--background);
	z-index: 9998;
	display: inline-flex;
	inline-size: fit-content;
	align-items: center;
	text-align: center;

	@media (width>450px) {
		padding: 2rem;
	}

	#collection-title {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		width: fit-content;
		white-space: nowrap;

		background-color: var(--white);
		color: var(--black);
		border: 1px solid var(--black);

		padding: 0.35rem 0.75rem;
		font-family: var(--body-font);
		font-size: var(--body-size);
		text-transform: uppercase;
		letter-spacing: 0.08em;

		text-decoration: none;
		line-height: 1;
		z-index: 10;
	}

	#collection-title:hover {
		background-color: var(--black);
		color: var(--white);
		border: 1px solid var(--white);
	}

	#filter {
		display: flex;
		gap: 0.5rem;
		margin-block-start: var(--gutter);
		flex-wrap: wrap;
		z-index: 10;

		p {
			color: var(--black);
			text-transform: uppercase;
		}

		.tile {
			inline-size: 3.6rem;
			block-size: 3.6rem;
			cursor: pointer;
			transition: opacity 0.2s ease, transform 0.2s ease;
			border: 2px solid transparent;

			display: grid;
			align-items: center;
			justify-content: center;

			.shape, p {
				grid-area: 1 / 1;
				place-self: center;
			}
			
			.shape {
				display: block;
				inline-size: 2rem;
				block-size: 2rem;
				height: auto;
				visibility: visible;
			}

			p {
				visibility: hidden;
				font-size: 0.6rem;
			}
		
			&:hover {
				transform: scale(1.1);
				background: var(--background);
				border: 1px solid var(--white);

				p {
					color: var(--white);
					visibility: visible;
				}

				.shape {
					visibility: hidden;
				}
			}

			&:active {
				border: 1px solid var(--white);

				.shape {
					color: var(--white);
					visibility: visible;
				}	

				p {
					visibility: hidden;
				}
			}
		}	
		
		&:has(.active) .tile.active {

			.shape {
				visibility: visible;
				color: var(--background);
			}

			p {
				visibility: hidden;
			}

			&:hover {
				transform: scale(1.1);
				background: var(--background);
				border: 1px solid var(--white);

				.shape {
					visibility: hidden;
				}
				p {
					visibility: visible;
					color: var(--white);
				}
			}
		}

		&:has(.active) .tile:not(.active) {
			background: var(--background);
			border: 1px solid var(--white);

			.shape {
				visibility: visible;
				color: var(--white);
			}

			p {
				visibility: hidden;
			}

			&:hover {
				transform: scale(1.1);

				.shape {
					visibility: hidden;
				}

				p {
					color: var(--white);
					visibility: visible;
				}
			}
		}
	}
}


/* ------------------- grid ------------------- */

#grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc(100vw / 8), 1fr));
	grid-auto-rows: calc(100vw / 8);
	
	position: fixed;
	top: 0;
	left: 0;
	inline-size: 100vw;
	block-size: 100vh;
	
	margin: 0;
	padding: 0;
	list-style: none;
	
	z-index: 1; 
	overflow: hidden;


	@media (width > 500px) {
		grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
		grid-auto-rows: 3rem;
	}

	@media (width > 1000px) {
		grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
		grid-auto-rows: 3rem;
	}
}

.tile {
	aspect-ratio: 1 / 1;
	border: 0.5px solid rgba(204, 204, 204, 0.2);
	box-sizing: border-box;
	transition: transform 0.15s ease;
	/* background: rgba(255, 255, 255, 0.03); */
}

.tile.type-image      { background: var(--tile-image); }
.tile.type-link       { background: var(--tile-link); }
.tile.type-embed      { background: var(--tile-embed); }
.tile.type-attachment { background: var(--tile-attachment); }
.tile.type-text       { background: var(--tile-text); }
/* .tile.type-unknown    { background: var(--tile-unknown); } */

.tile.has-block{
	cursor: pointer;
	pointer-events: auto;
	z-index: 2;
	border: 0.5px solid rgba(204, 204, 204, 0.2);
}

.tile.has-block:hover {
	cursor: pointer;
	pointer-events: auto;
	transform: scale(1.08);
	z-index: 2;
}

.tile.hidden { 
	/* opacity: 0; */
	background-color: transparent;
	pointer-events: none;
}

/* ------------------- filtering system -------------------

#filter {
	display: flex;
	gap: 0.5rem;
	margin-block-start: var(--gutter);
	flex-wrap: wrap;
	z-index: 10;

	p {
		color: var(--black);
	}

	.tile {
		inline-size: 4rem;
		block-size: 4rem;
		cursor: pointer;
		transition: opacity 0.2s ease, transform 0.2s ease;
		border: 2px solid transparent;
		align-content: center;
	
	
		&:hover {
			transform: scale(1.1);
			background: var(--background);
			border: 1px solid var(--white);

			p {
				color: var(--white);
			}
		}

		&:active {
			border: 1px solid var(--white);
		}
	}
} */

/* ------------------- modal ------------------- */
.modal {
	position: fixed;
	inset: 0;
	margin: auto;
	border: 1px solid var(--grid-lines);
	/* padding-block: var(--gutter);
	padding-inline: 2rem; */
	padding: var(--gutter);
	
	background: var(--background);
	box-shadow: 0 8px 20px rgba(0,0,0,0.15);
	z-index: 9999;

	max-inline-size: 320px;
	max-block-size: 90vh;
	inline-size: min(520px, 95vw);
	block-size: min(720px, 80vh);

	overflow-y: auto;

	&[open] {
		display: flex;
		flex-direction: column;
		gap: var(--gutter);
	}

	&::backdrop {
		background: rgba(0,0,0,0.35);
	}

	@media (width>500px) {
		min-inline-size: 400px;
		max-inline-size: 500px;
	}

	#close-modal {
		position: sticky;
		top: 0;
		inline-size: 2rem;
		block-size: 2rem;
		margin-inline-start: auto;
		flex-shrink: 0;

		background: var(--white);
		border: 1px solid var(--black);

		color: var(--black);
		font-size: var(--body-size);
		line-height: 1;

		place-items: center;
		align-self: flex-end;

		cursor: pointer;

		&:hover {
			background: var(--black);
			color: var(--white);
			border: 1px solid var(--white);
		}
	}
}

#modal-body {
	
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	width: 100%;
	flex: 1;

	h2, p {
		display: inline-block;
		margin: 0;
	}

	& > li {
		inline-size: 100%;
		/* block-size: 100%; */
		list-style: none;
		padding: 0;

		display: flex;
		flex-direction: column;
		gap: var(--gutter);
	}

	figure {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: var(--gutter);
		padding: 0;
		margin: 0;
	}

	img,
	video,
	audio {
		inline-size: 100%;
		block-size: auto;
		/* max-block-size: 100%; */
		object-fit: contain;
	}

	iframe,
	embed {
		inline-size: 100%;
		aspect-ratio: 16 / 9;
	}

	figcaption {
		display: flex;
		flex-direction: column;
		gap: calc(0.5*var(--gutter));
	}

	& > li > p > a {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		white-space: nowrap;
		background-color: var(--white);
		color: var(--black);
		border: 1px solid var(--black);
		padding: 0.35rem 0.75rem;
		font-family: var(--body-font);
		font-size: var(--body-size);
		text-transform: uppercase;
		letter-spacing: 0.08em;
		text-decoration: none;
		line-height: 1;
		transition: all 0.2s ease;
	}

	& > li > p > a:hover {
		background-color: var(--black);
		color: var(--white);
		border: 1px solid var(--white);
	}
}

/* ------------------- footer ------------------- */

footer {
	width: 100%;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	padding-inline: var(--gutter);	
	background-color: transparent;
	box-sizing: border-box;
	

	p { 
		font-size: var(--body-size);
		text-transform: uppercase;
		color: var(--white);
		letter-spacing: 0.08em;
	}

	a {
		color: var(--text);
		text-decoration: none;
		border-block-end-width: .0625rem;
		border-block-end-style: solid;
		border-block-end-color: rgba(241,241,239,.35);

		&:hover { 
			background-color: var(--black);
			color: var(--white);
			border-color: var(--white);
		}
	}

	@media (width>500px) {
		flex-direction: row;
	}
}