@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&family=VT323&display=swap');

:root {
    --white: #FFFFFF;
    --grid-lines: #CCCCCC;
    --black: rgba(36, 40, 59, 0.7);
    --text: #7AA2F7;
    --background: #1A1B26;

    --blue: #63B3ED;
    --dark-blue: #1B3162;
    --teal: #4FD1C5;
    --dark-teal: #01789A;
    --red: #FC8181;
    --dark-red: #AA2423;
    --purple: #B794F4;
    --dark-purple: #4F3076;
    --green: #68D391;
    --dark-green: #00735C;
    --orange: #F6AD55;
    --dark-orange: #C35C19;
    --yellow: #F6E05E;
    --dark-yellow: #BF840F;

    --heading-font: 'Pixelify Sans', sans-serif;
    --body-font: 'Inter', sans-serif;

    --gutter: 1rem;
    --cell: 3rem;
    --grid-cols: 1;
    --grid-rows: 1;
}

/* Wanted a cool pattern behind my work */
/* Found this pattern collection: https://css-pattern.com/ */
/* I learned that you can layer multiple CSS gradients to... */
/* html {
	--s: 200px;
	--grid-line: #CCCCCC;
	--c2: #ffffff;
	
	--_g: #53535300 90deg,var(--grid-line) 0;
	background: 
		conic-gradient(from 90deg at 1px 1px,var(--_g)),
		conic-gradient(from 90deg at 0.5px 0.5px,var(--_g)),
		var(--c2);
	background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
} */


html, body {
    height: 100vh;
    margin: 0;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    overflow: hidden;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}


h1 {
    display: inline;
    font-family: var(--heading-font);
    font-size: 3rem;
    color: var(--text);
}

p {
    display: inline;
    font-family: var(--body-font);
    font-size: 1.5rem;
    color: var(--white);
}


.grid {
    --cols: 10;
    --rows: 20;
    
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);

    width: min(90vw, calc((100vh - 240px) * (var(--cols) / var(--rows))));
    aspect-ratio: var(--cols) / var(--rows);
  
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background: var(--background);
    border: 1px solid rgba(255,255,255,0.1);
}


.tile {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    border: 1px solid var(--grid-lines);
    box-shadow:
        inset 0 0 0 2px rgba(0,0,0,0.15),
        inset 0 -2px 0 rgba(0,0,0,0.25);
}

.tile.active::before {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.45),
        rgba(255, 255, 255, 0.2) 25%,
        rgba(255, 255, 255, 0) 55%
  );
}

.tile.active.red {   background-color: var(--red); }
.tile.active.blue { background-color: var(--blue); }
.tile.active.teal { background-color: var(--teal); }
.tile.active.purple { background-color: var(--purple); }
.tile.active.green { background-color: var(--green); }
.tile.active.orange { background-color: var(--orange); }
.tile.active.yellow { background-color: var(--yellow); }

#media-content {
    position: relative;
    border: 1px solid var(--black);
    padding: 0.75rem 0.75rem 1.5rem;
    max-width: 320px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background: var(--white);
}

#media-content[open] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#media-content img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border: 1px solid var(--grid-lines);
}

#media-content p {
    margin: 0;
    font-size: 0.75rem;
    text-align: center;
    color: var(--black);
}

#media-content p:first-of-type {
    margin-top: 0.5rem;
    font-weight: 600;
}

#media-content button {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    background: var(--white);
    border: 1px solid var(--black);

    color: var(--black);
    font-size: 18px;
    line-height: 1;

    display: grid;
    place-items: center;

    cursor: pointer;
    padding: 0;

    position: absolute;
    top: 8px;
    right: 8px;
}

#media-content button:active {
    transform: scale(1.05);
}

#media-content button:hover {
    background: var(--black);
    color: var(--white);
}

@media (width>1200px) {
    main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* overflow: hidden; */
        }
}