@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&family=VT323&display=swap');

:root {
	--white: #FFFFFF;
	--grid-lines: #CCCCCC;
	--black: rgba(36, 40, 59, 0.7);
	--text: #7AA2F7;
	--background: #1A1B26;

	--tile-image: #7acbf7;
	--tile-link: #68D391;
	--tile-embed: #B794F4;
	--tile-attachment: #F6AD55;
	--tile-text: #F6E05E;
	/* --tile-unknown: #1A1B26; */

	--heading-font: 'Pixelify Sans', sans-serif;
	--body-font: 'Inter', sans-serif;
	--h1-size: 5rem;
	--h2-size: 1.5rem;
	--body-size: 0.8rem;
	--body-line-height: 1.2rem;

	--gutter: 1rem;
	--cell: 3rem;
	--grid-cols: 1;
	--grid-rows: 1;
}

html, body {
	height: 100vh;
	margin: 0;
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow: hidden;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	padding: var(--gutter);
	box-sizing: border-box;

	@media (width>500px) {
		flex-direction: row;
		justify-content: center;
		align-items: center;    
	}
}

#title {
	display: flex;
	flex-direction: column;
	gap: 0;

	@media (width>1200px) {
		align-items: center;
		text-align: center;
	}

	#collection-title {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		width: fit-content;
		white-space: nowrap;

		background-color: var(--white);
		color: var(--black);
		border: 1px solid var(--black);

		padding: 0.35rem 0.75rem;
		font-family: var(--body-font);
		font-size: var(--body-size);
		text-transform: uppercase;
		letter-spacing: 0.08em;

		text-decoration: none;
		line-height: 1;
		z-index: 10;
	}

	#collection-title:hover {
		background-color: var(--black);
		color: var(--white);
		border: 1px solid var(--white);
	}
}

h1 {
	display: inline;
	font-family: var(--heading-font);
	font-size: var(--h1-size);
	color: var(--white);
	position: relative;
	z-index: 10;
	pointer-events: none;
	margin: 0;
}

h2 {
	display: inline;
	font-family: var(--heading-font);
	font-size: var(--h2-size);
	color: var(--white);
	position: relative;
	z-index: 10;
	pointer-events: none;
}

p, a {
	display: inline;
	font-family: var(--body-font);
	font-size: var(--body-size);
	color: var(--white);
	line-height: var(--body-line-height);
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
	grid-auto-rows: 1fr; 
	
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	
	margin: 0;
	padding: 0;
	list-style: none;
	
	z-index: 1; 
}

.tile {
	aspect-ratio: 1 / 1;
	border: 0.5px solid rgba(204, 204, 204, 0.2);
	box-sizing: border-box;
	transition: transform 0.15s ease;
}

.tile.has-block:hover {
	cursor: pointer;
	pointer-events: auto;
	transform: scale(1.08);
	z-index: 2;
}

.tile.type-image      { background: var(--tile-image); }
.tile.type-link       { background: var(--tile-link); }
.tile.type-embed      { background: var(--tile-embed); }
.tile.type-attachment { background: var(--tile-attachment); }
.tile.type-text       { background: var(--tile-text); }
.tile.type-unknown    { background: var(--tile-unknown); }


#media-content {
	position: fixed;
	inset: 0;
	margin: auto;
	border: 1px solid var(--grid-lines);
	padding: var(--gutter);
	max-width: 320px;
	background: var(--background);
	box-shadow: 0 8px 20px rgba(0,0,0,0.15);
	z-index: 9999;

	@media (width>500px) {
		min-width: 400px;
		max-width: 500px;
	}
}

#media-content[open] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

#media-content::backdrop {
  background: rgba(0,0,0,0.35);
}

#modal-body {
	width: 100%;
	aspect-ratio: 1 / 1;
	overflow: hidden;
}

#modal-body img,
#modal-body video,
#modal-body iframe {
	width: 100%;
	height: 100%;
	/* object-fit: cover; */
	object-fit: contain;
	display: block;
}

/* #modal-description {
	font-family: var(--body-font);
	font-size: 0.75rem;
	text-align: left;
	color: var(--white);
	overflow: auto;
} */

#close-modal {
	width: 32px;
	height: 32px;

	background: var(--white);
	border: 1px solid var(--black);

	color: var(--black);
	font-size: var(--body-size);
	line-height: 1;

	display: grid;
	place-items: center;
	align-self: flex-end;

	cursor: pointer;
	padding: 0;

	/* position: absolute;
	top: 8px;
	right: 8px; */

	&:active {
		transform: scale(1.05);
	}

	&:hover {
		background: var(--black);
		color: var(--white);
		border: 1px solid var(--black);
	}
}

footer {
	width: 100%;
	/* padding: 0.5rem; */
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	padding-inline: var(--gutter);	
	background-color: transparent;
	box-sizing: border-box;
	

	p { 
		font-size: var(--body-size);
		text-transform: uppercase;
		color: var(--white);
		letter-spacing: 0.08em;
	}

	a {
		color: var(--text);
		text-decoration: none;
		border-block-end-width: .0625rem;
		border-block-end-style: solid;
		border-block-end-color: rgba(241,241,239,.35);

		&:hover { 
			background-color: var(--black);
			color: var(--white);
			border-color: var(--white);
		}
	}

	@media (width>500px) {
		flex-direction: row;
	}
}